body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(251, 192, 147, 0.5);
  position: sticky;
  top: 0;
}
.navbar ul {
  display: flex;
  list-style: none;
  margin: 20px 0px;
}
.navbar ul li {
  font-family: century;
  font-size: 1.1rem;
  font-weight: bold;
}
.navbar ul li a {
  text-decoration: none;
  color: white;
  padding: 8px 25px;
  transition: all 0.5s ease;
}
.navbar ul li a:hover {
  background-color: white;
  color: #f9c291;
  box-shadow: 0 0 10px white;
}
/* Home Section */
#home {
  display: flex;
  flex-direction: column;
  background-color: rgba(251, 192, 147, 0.5);
  height: 840px;
  justify-content: center;
  align-items: center;
  color: white;
}
#home::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  background: url('background.jpg') no-repeat center center/cover;
  height: 900px;
  width: 100%;
  z-index: -1;
  opacity: .8;
}
.main {
  display: flex;
  flex-direction: column;
  /*border: 1px solid white;*/
  align-items: center;
  position: absolute;
  top: 30%;
  right: 10%;
}
.headings {
  font-family: century;
  font-size: 4rem;
  text-align: center;
  margin: 40px 0px;
}
.btn {
  padding: 10px 35px;
  background-color: transparent;
  border: 1px solid white;
  color: white;
  outline: none;
  transition: .6s ease;
}
.btn:hover {
  cursor: pointer;
  background-color: white;
  color: #ffe4cd;
  box-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px white;
  font-weight: bold;
}

/*About Section*/

#about {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 20px;
  margin-bottom: 25px;
  color: black;
}

#pic {
  display: flex;
}
#pic img {
  width: 575px;
  height: 400px;
}
#intro {
  display: flex;
  flex-direction: column;
  text-align: justify;
  padding: 10px;
}
#intro h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  margin-left: 75px;
}

#intro ul li {
  margin-left: 75px;
  font-size: x-large;
}

/*Gallery Section*/

#gallery{
  display: flex;
  flex-direction: column;
  background-color: rgba(251, 192, 147, 0.5);
  color: black;
  align-items: center;
  padding: 20px;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  box-sizing: border-box;

}
.gallery img {
  width: 360px;
  height: 240px;
  margin: 10px;
}
/*Amenities Section*/
#amenities{
  display: flex;
  flex-direction: column;

  color: black;
  align-items: center;
  padding: 20px;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  box-sizing: border-box;

}
.gallery img {
  width: 360px;
  height: 240px;
  margin: 10px;
}
/*Contact Section*/

#contact {
  display: flex;
  flex-direction: column;
  background-color: rgba(251, 192, 147, 0.5);
  color: black;
  align-items: center;
  padding: 20px;
}

.contactIntro {
  font-size: large;
  margin-bottom: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}